/* Colour Palette

#C69F73 - camel
#003B36 - dark green
#91A69D - light green
#DFEEF0 - light blue

*/


/* Global styles
--------------------------- */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h3 {
    margin: 20px;
}
.uppercase {
    text-transform: uppercase;
}

/* toto je meno, stuent a about me, potom nazov projektu a jeho description v projects */
.col-wide {
    width: 50%;
    float: right;
    margin-right: 50px;
    margin-top: 85px;
    text-align: center;
}

.subtitle {
    font-size: 20px;
    font-weight: 300;
    font-family: "Playfair Display", sans-serif;
    margin-top: 0;
}

/* Content wrap header, Content wrap, Content wrap footer */
.content-wrap-header {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 50px;
    overflow: auto;
}

.content-wrap {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 50px;
    overflow: auto;
} 

.content-wrap-footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 50px;
    overflow: auto;
}

/* Text and headers
--------------------------- */
h2 {
    font-size: 29px;
    font-family: 'Avenir Next';
    font-weight: 400;
    color: black;
}
h3 {
    color: black;
}
a {
   font-family: 'Avenir Next';
   color: black;
}
a:hover {
    text-decoration: none;
    }


.col-narrow {
    width: 30%;
    float: left;
    padding-left: 60px;
    padding-right: 60px;
}
.col-wide {
    width: 70%;
    float: left;
}

/* Download PDF button */
.btn {
    text-decoration: none;
    background: #003B36;
    color: white;
    padding: 10px;
    display: inline-block;
    font-weight: 300;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Header and Footer */
header, footer {
     background: #FFE4E1;
     color: black;
}

/* Footer*/
footer {
    text-align: center;
}
.contact-info a {
    background: #FFE4E1;
    padding: 15px;
}

/* Header */
header {
    padding-top: 50px;
    position: relative;
}

.intro {
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid black 1px;
}

.profile-image {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    width: 306px;
    height: 308px;
}

h1, header h2, footer h2{
    margin-top: 0;
    font-family: 'Avenir Next';
    font-weight: 250;
    background: #FFE4E1;
    color: black;
}
header{
  margin: 0;
}
h1 {
    font-size: 60px;
}
h3 ~ p {
    margin-left: 40px;
}

.download {
  position: absolute;
  bottom: 30;
  right: 0;
}

/* Navigation
-------------------------*/
nav {
    text-align: center;
    background: white;
    position: fixed;
    width: 100%;
    top: -33px;
}

nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}


/* Education
-------------------------*/
.education {
  background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)),
              url(../images/thehague.jpg) no-repeat fixed;
  background-size: cover;
}
p + h3 {
  margin-top: 30px;
}

/* Media Queries
-------------------------*/
@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}
@media (max-width: 899px){
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
}

